{% extends 'base.html' %}

{% block content %}

    <div class='content-section container'>
        
        <form method='POST'>
            {% csrf_token %}
            <fieldset class='field-group'>
                <legend class='border-bottom mb-4'> Login to your account </legend>

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}{% if field.field.required %}<span class="text-danger"> *</span>{% endif %}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </fieldset>

            <div class='form-group mt-4'>
                <button type='submit' class='my-btn'> Login </button>
            </div>

            <div class='border-top pt-3 '>
                <small class='text-muted' > 
                    Don't have an account ? 
                    <a href='register' class='ml-2' > create new account </a>
                </small>
            </div>
            
        </form>
    </div>

{% endblock content %}