{% extends 'base.html' %}

{% block content %}

    <div class='content-section container'>
        
        <form method='POST'>
            {% csrf_token %}
            <fieldset class='field-group'>
                <legend class='border-bottom mb-4'> Login to your account </legend>

                {% include 'accounts/_auth_form_fields.html' with form=form %}

            </fieldset>

            <div class='form-group mt-4'>
                <button type='submit' class='my-btn'> Login </button>
            </div>

            <div class='border-top pt-3 '>
                <small class='text-muted' > 
                    Don't have an account ? 
                    <a href="{% url 'register' %}" class='ml-2' > create new account </a>
                </small>
            </div>
            
        </form>
    </div>

{% endblock content %}