{% extends 'base.html' %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-picture-container">
            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}" class="profile-picture">
            <a href="{% url 'edit_profile' %}" class="edit-profile-icon" title="Edit Profile">
                <i class="fas fa-edit"></i>
            </a>
        </div>
        <div class="profile-info">
            <h1>{{ user.username }}</h1>
            <p class="headline">{{ user.profile.headline }}</p>
        </div>
    </div>
    
    <div class="profile-details">
        {% if user.first_name and user.last_name%}
            <div class="detail-item">
                <h3>Name</h3>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
            </div>
        {% endif %}
        
        <div class="detail-item">
            <h3>Bio</h3>
            <p>{{ user.profile.bio }}</p>
        </div>

        <div class="detail-item">
            <h3>Email</h3>
            <p>{{ user.email }}</p>
        </div>
        

        <div class="detail-item">
            <h3>Gender</h3>
            <p>{{ user.profile.gender}}</p>
        </div>
    </div>
</div>
{% endblock %}

