{% extends 'base.html' %}
{% block title %}
    Register to a new account
{% endblock title %}

{% block content %}

    <div class='content-section container'>
        
        <form method='POST'>
            {% csrf_token %}
            <fieldset class='field-group'>
                <legend class='border-bottom mb-4'> Create a new account </legend>

                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </fieldset>

            <div class='form-group mt-4'>
                <button type='submit' class='my-btn'> Sign up </button>
            </div>

            <div class='border-top pt-3 '>
                <small class='text-muted' > 
                    Already have an account ? 
                    <a href='#' class='ml-2' > Login to your account </a>
                </small>
            </div>
            
        </form>
    </div>

{% endblock content %}