{% extends 'base.html' %}

{% block content %}
    <div class="content-section container">
        <form method="POST"> 
            {% csrf_token %}
            <fieldset class='field-group'>
                <legend class='border-bottom mb-4'> {{heading}}</legend>

                {% include '_form_fields.html' with form=form %}

            </fieldset>
            <div class="form-group mt-4">
                <button type="submit" class="my-btn">Save Changes</button>
            </div>
        </form>
    </div>
{% endblock %}