{% extends 'base.html' %}
{% load static %}
{% block title %}
    Share a post
{% endblock %}

{% block content %}
    <div class ='success'>
        {% if sent %}
            <p>Email sent successfully.</p>
            <br>
        {% endif %} 
    </div> 

    {% if not sent %}
        <h2>Share a post</h2>
        <p>Share this post 
            <span class="title"> <a href='http://127.0.0.1:8000/post/{{post.pk}}'>{{ post.title }}</a></span>
            with others by sending them an email.
        </p>
        <br><br>

        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit">Share</button>
        </form>
    {% endif %}
    

{% endblock %}
