{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class='posts_list container'>
        <div class='single-post'>
            <div class='title'>
                {{post.title}} 
                <p class='by'> 
                    published at <span class='diff'>{{post.published_at}}</span>
                    by <span class='diff'> {{post.author}} </span> </p>
            </div>
            <div class='content'>
                {{post.content}}
            </div>
            {% if user == post.author %}
            <hr>
                <div class='post-actions'>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-edit">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <form method="post" action="{% url 'delete_post'  post.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-delete" onclick="return confirm('Are you sure you want to delete this post?');">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </form>
                </div>
            {% endif %}
            <div class="share-section">
                <a href="{% url 'post_share' pk=post.pk %}" class="share-btn email">📩 Share via Email</a>
            </div>
        </div>
    </div>
{% endblock content %}